<script>
    // the graph may be loaded elsewhere than body
    window.__njg_el__ = window.__njg_el__ || "body";
    // default API url
    window.__njg_default_url__ = "{{ graph_url }}";
    // reference to graph data
    window.__njg_graph_data__ = {}
    // loadGraph wrapper is used to reload
    // the graph with data from older snapshots
    window.loadNetJsonGraph = function(graph){
        graph = graph || window.__njg_default_url__;
        // destroy HTML elements if present
        d3.select("svg").remove();
        d3.select(".njg-overlay").remove();
        d3.select(".njg-metadata").remove();
        // load graph
        return d3.netJsonGraph(graph, {
            el: window.__njg_el__,
            linkClassProperty: "status",
            defaultStyle: false,
            labelDy: "-1.5em",
            circleRadius: 7,
            charge: -300,
            gravity: 0.1,
            linkDistance: 70,
            linkStrength: 0.1
        });
    };
    window.loadNetJsonGraph();
    window.initTopologyHistory(jQuery);
    // websocket code to update link status
    ws = new WebSocket("ws://" + window.location.host + "/netjsongraph/");
    ws.onmessage = function(e) {
        var link = JSON.parse(e.data);
        d3.select('#link-' + link.id).attr('class', 'njg-link ' + link.status);
        // update link status in graph
        for(var i = 0; i < window.__njg_graph_data__.links.length; i++) {
            if (link.id == window.__njg_graph_data__.links[i].uuid){
                window.__njg_graph_data__.links[i].properties.status = link.status;
                break;
            }
        }
    }
</script>
